* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabeçalho {
    position: absolute;
    display: flex;
    height: 250px;
    width: 100%;
    gap: 30 px;
    background-color: black;
    color: #fff;
    
   

}

.cabeçalho a {
    display: flex;
    font-size: 2em;
    margin: 80px;
    align-items: center;
    justify-items: center;
    color: #ffffff ;
    cursor: pointer;
text-decoration: none;
text-align: center;

}

.cabeçalho a:hover{
     color: #913232;
    font-size: 2em;
    transition: 0.5s ease-in-out;
}

.cabeçalho .questionário {
    margin-left: 200px;
}

.cabeçalho .link-whatsapp {
    height: 50px;
    width: 50px;
    display: flex;
    right:20px;
    bottom: 20px;
    cursor: pointer;
}

.cabeçalho img {
    margin: 1.5em;
    width: 170px;
    height: 200px;
}

.cabeçalho .insta{
    height: 50px;
    width: 50px;
    display: flex;
    bottom: 20px;
    cursor: pointer;
}

body {
    
   background-color: gradient;
   height: 100vh;
   

}

main {
   
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100vw;
    height: 100vh;
   
}

main .titulo {
    
    font-size: 150px;
    color: #252424;
    font-weight: 400;
    margin-left: 50px;
    margin-top: 250px;
    width: 100vw;
    height: 100vh;
    text-shadow:hsl(209, 83%, 23%)  ;
}
main .links {
     position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 470px;
    height: 50px;
    width: 100%;
    gap: 30 px;
       
}

main .links .subtitulos{
     margin: 50px;
     margin-left: 200px;
    font-size: 2em;
    font-weight: bold;
    color:hsl(240, 76%, 83%) ;
    cursor: pointer;
    text-decoration: none;
    
    


}

main .links .subtitulos:hover {
     color: #fd6602;
    font-size: 2em;
    transition: 0.5s ease-in-out;
}

.container {
    color:hsl(209, 89%, 71%) ;
    font-stretch: ultra-expanded ;
    font-weight: bold;
    width: 100%;
    height: 50px;
    mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}


.carrossel {
    width: 100%;
    height: 200px;
    display: flex;
   position: relative;
   
  

}

.item {
    font-weight: bolder;
    font-size: 1.7em;
    width: 100px;
    height: 50px;
    position: absolute;
    left: 100%;
    animation:autoRun 10s linear infinite; 
    animation-delay:var(--delay);
    /* animation-delay: calc(10 / var(--quantity) * var(--delay));*/
    cursor: pointer;


}
    
.container-reverse {
    width:100vw;
    height: 200px;
    mask-image: linear-gradient(to right, transparent, #050505 10% 90%, transparent);
}
    



.container-reverse .item {
    
    width: 200px;
    height: 200px;
    animation:reverseRun 9s linear infinite;
    animation-delay: calc(var(--delay));
    cursor: pointer;
    position: absolute;
    left: -200px;
   
    
}

.container-reverse .carrossel .item img {
    width: 100%;
    gap: 5px;
    width: 160px;
    height: 160px;
}

.container:hover .item{
    animation-play-state: paused;
    filter: grayscale(1);
}

.container-reverse:hover .item {
    animation-play-state: paused;
    filter: grayscale(1);
}

.container .item:hover {
    filter: grayscale(0);
}

.container-reverse .item:hover {
    filter: grayscale(0);
}


@keyframes autoRun {
    from {
        left: 100%
    }

    to {
        left: -50px;
    }
}

@keyframes reverseRun {
    from {
        left: -200px;
        } 
        to {
        left: 100%;
        }
    }
main .links .termo{
      margin: 50px;
     margin-left: 100px;
    font-size: 2em;
    color:hsl(209, 83%, 23%) ;
    cursor: pointer;
    text-decoration: none;
}
main .links .termo:hover {
      color: #fd6602;
    font-size: 2em;
    transition: 0.5s ease-in-out;
}

main .links .orientaçoes{
      margin: 50px;
     margin-left: 100px;
    font-size: 2em;
    color:hsl(209, 83%, 23%) ;
    cursor: pointer;
    text-decoration: none;
}
main .links .orientaçoes:hover{
      color: #fd6602;
    font-size: 2em;
    transition: 0.5s ease-in-out;
}

main .voltar{
     margin: 50px;
     margin-left: 100px;
    font-size: 2em;
    color:hsl(209, 83%, 23%) ;
    cursor: pointer;
    text-decoration: none;
}

main .linksdeimagens{
    width: 100%;
      margin: 400px;
     margin-left: 50px;
     padding: 50px;
    font-size: 2em;
    color:hsl(209, 83%, 23%) ;
    cursor: pointer;
    
}
main .linksdeimagens .canaldecriancas{
    margin-left: 30px;
}
main .linksdeimagens .siso{
    margin-left: 30px;
}
main .linksdeimagens .canais{
    margin-left: 30px;
}
main .linksdeimagens .venosa{
    margin-left: 30px;
}

main .linksdeimagens .voltar1{
    margin-top: 10px;
    margin-left: 30px;
}

main .mascara{
    margin-top: 100px;
     height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 10%, rgba(10, 12, 16, 0.7) 30%, rgba(10, 12, 16, 0.99) 65%);
    position: fixed;
    z-index: -1;
}

main .mascara img{
    position: fixed;
    width: 1200px;
    height: 1200px;
    z-index: -2;
    opacity: 30%;
}
@media(max-width:900px) {

.cabeçalho{
     height: 100px;
        
            }
  
.cabeçalho a{
    font-size: 1em;
    margin: 5px;
    
}
.cabeçalho .questionário{
    margin-left: 5px;
    
}


main .titulo{
     font-size: 40px;
    font-weight: 700;
    margin-top: 150px;
    margin-left: 20px;
    justify-items: center;
}

main .links {
    margin-top: 250px;
  justify-content: center;
  
   }

main .links .subtitulos{
    font-size: 25px;
    margin: 0.6em;
  
   
}

main .links .termo{
    
    font-size: 15px;
    margin: 0.8em;
}
main .links .orientaçoes{
     font-size: 15px;
    margin: 0.8em;
}

main .links .voltar{
    font-size: 15px;
    margin: 0.8em;
}
.container-reverse .carrossel .item img {
    width: 100%;
    gap: 5px;
    width: 70px;
    height: 70px;
}

.item{
      font-size: 0.9em;
}

.cabeçalho img {
    margin: 1.5em;
    width: 40px;
    height: 60px;
}

.cabeçalho a .link-whatsapp {
    width: 30px;
    height: 30px;
    display: flex;
    right:20px;
    bottom: 20px;
    cursor: pointer;
}


}
